.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
    color: white;
}

.dialogsItems .active {
    color: gold;
}

.dialog {

}

.messages {
    padding: 10px;
}

.messages .message {
    color: white;
}

.addMessageBtn {
    padding: 10px 35px;
    border-radius: 20px;
    background-color: white;
    border: none;
    text-transform: uppercase;
}

.addMessageTextArea {
    width: 300px;
    height: 50px;
    border: none;
    padding: 20px;
}

.clearTextArea {
    margin-left: 35px;
    padding: 10px 35px;
    border-radius: 20px;
    background-color: rgb(177, 177, 177);
    border: none;
    text-transform: uppercase;
}